/***** Hero component *****/
.hero {
  background-image: url($homepage_background_image);
  background-position: center;
  background-size: contain;
  background-repeat: repeat-x;
  height: 300px;
  padding: 0 20px;
  text-align: center;
  width: 100%;

  &-inner {
    @include vertical-align;
    max-width: 610px;
    margin: 0 auto;
  }
}

@media (max-width: 1024px) {
  .hero {
    background-image: url($knowledge_base_mobile);
    background-size: auto;
  }
}
